a {
    text-decoration: none;
  }
body {
    font-family:Oxanium ;
}
.luz {
    color: #ffd000!important;
}
.azul {
    color:#0008ec
}

.navbar .nav-link {
    letter-spacing: 0.10em;
}
.navbar .nav-link:hover {
    color: #ffd000!important;
    text-shadow: 0 0 40px #0000ee;
}
.lead {
    font-size: 1.5rem;
    font-weight: 300;
    color: #c9caca;
    margin-left: 0.5em;
}
.casillero:hover {
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 4px;
    transition-timing-function:ease-in-out ;
    transition-duration: .7s;
}
.casillero p {
    color: rgb(218, 218, 218);
margin-top: 0.5em;
margin-left: 0.5em;
padding-left: 2.2em;
border-left: 1px solid #2f2f2f;
}

.term {
    width:250px;
    height: 250px;
    border-radius: 100%;
  }
.term:hover h3 {
    font-size: 1.6em;
    transition: ease-in .25s;
  }
.img_term {width: 100%;height: auto;}

.white_texto p {
    margin-bottom: 1.2em;
}
#section_form {
    background: url(i/olla_luz.png) no-repeat center left;
    background-size: cover;
    text-shadow: 0 2px 7px #000000;
}
#glosario_div {
    background: url(i/circulos.png) no-repeat center center;
    background-size: 100%;
}
#slide_genesis {
    background: url(i/slide_genesis.png) no-repeat center center;
    background-size: 100%;
    text-shadow: 0 2px 7px #0000005c;

}
#slide_radar {
    background: url(i/slide_radar.png) no-repeat center center;
    background-size: 100%;
    text-shadow: 0 2px 7px #0000005c;

}
.slides p {
    font-size: 1.5em;
    background-color: #0000007c;
    padding: .5em;
}
#expansion .banner:hover {
    box-shadow: 0 10px 20px #0000ee10!important;
    transition-timing-function:ease-in-out ;
    transition-duration: .7s;
}
#contacto a:hover {
    color: #ffd000!important;
    transition-timing-function:ease-in-out ;
    transition-duration: .7s;
}